<?xml version="1.0" encoding="UTF-8"?>

<config>
    <metadata>
        <name>Social-Value-Orientation</name>
        <type>question_theme</type>
        <title>Social Value Orientation Scale</title>
        <creationDate>05/11/2019</creationDate>
        <author>Tony Partner</author>
        <authorEmail>tpartner@partnersurveys.com</authorEmail>
        <authorUrl>http://partnersurveys.com</authorUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>A single-choice question in the Social Value Orientation (SVO) format. Thanks to Ryan O. Murphy - http://ryanomurphy.com/styled-2/index.html</description>		
        <questionType>L</questionType>
        <group>Single choice questions</group>
        <answerscales>0</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>1</assessable>
        <class>list-radio</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/svo.css</filename>
        </css>
        <js>
            <filename>scripts/svo.js</filename>
        </js>
		<preview>
			<filename>images/svo_1.png</filename>
		</preview>
    </files>

    <custom_attributes>
        <!-- New attributes -->
        <attribute>
            <name>label_top</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <caption>Primary top label text</caption>
            <help>Primary text for the label above the scale (left side on mobile devices).</help>
            <default>...</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>label_bottom</name>
            <category>Custom options</category>
            <sortorder>1</sortorder>
            <inputtype>text</inputtype>
            <caption>Primary bottom label text</caption>
            <help>Primary text for the label below the scale (right side on mobile devices).</help>
            <default>...</default>
            <i18n>1</i18n>
        </attribute>
		<attribute>
            <name>show_values</name>
            <category>Custom options</category>
            <sortorder>3</sortorder>
            <inputtype>buttongroup</inputtype>
            <options>
                <yes>Yes</yes>
                <no>No</no>
            </options>
            <default>yes</default>
            <caption>Display values</caption>
            <help>Set to "Yes" if you wish to display the selected values in the labels above and below the scale (left and right on mobile devices).</help>
        </attribute>
		
		<!-- Hidden attributes -->
        <attribute>
            <name>other_replace_text</name>
            <category>Display</category>
            <inputtype/>
            <i18n>1</i18n> <!-- Only needed to prevent error in 3.x -->
        </attribute>
        <attribute>
            <name>random_order</name>
            <category>Display</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>alphasort</name>
            <category>Display</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>display_columns</name>
            <category>Display</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>array_filter</name>
            <category>Logic</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>array_filter_exclude</name>
            <category>Logic</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>other_comment_mandatory</name>
            <category>Logic</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>other_numbers_only</name>
            <category>Logic</category>
            <inputtype/>
        </attribute>
        <attribute>
            <name>array_filter_style</name>
            <category>Logic</category>
            <inputtype/>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
